body {
    background-image: url(https://kartinki.pics/uploads/posts/2021-07/thumbs/1626330479_25-kartinkin-com-p-temnii-mramor-fon-krasivo-25.jpg);
}

.head {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

input {
    width: 1250px;
    height: 350px;
}

.previous {
    text-decoration: none;
    display: inline-block ;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
  }

  .previous:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
  }

  .hyperlink_previous {
    text-decoration: none;
    color: black;
  }

  .butu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
  }